@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

/*--------------------HERO--------------------*/

.header-hero {
  width: 100%;
  height: 80vh;
  position: sticky;
  z-index: -1;
}

.image-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
}

.hero-infos{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #efefef;
  text-align: center;
  font-weight: 600;
}

.hero-text h1{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.btn-warning:hover{
  filter:brightness(85%);
}

/*--------------------NAVBAR--------------------*/

.navbar-nav {
    text-transform: uppercase;
}

.navbar-nav .nav-link:hover{
  text-decoration: underline;
}

.navbar-nav .nav-link.active{
  font-weight: 600;
  text-decoration: underline;
}

/*--------------------FOOTER--------------------*/
footer{
  background-color: rgb(38, 40, 43);
}

.footer-titl{
  color: #efefef;
  font-size:large;
  margin: 1rem 0 1.5rem 0;
}

.InfosContact-component{
  color:#efefef;
  font-size: small;
}

.footer-menu{
  list-style: none;
  padding: 0;
  margin :0;
  display: flex;
  flex-direction: column;
  font-size:small;
}

.footer-menu .nav-link{
  color: #efefef;
  text-decoration: none;
  font-weight: 300;
  text-transform: none;
}

.footer-menu .nav-link:hover{
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.footer-menu .nav-link.active{
  color: white !important;
  text-decoration: none;
  font-weight: 600 !important;
}

.bi{
  color: gray;
  margin: 0.5rem;

}

.bi:hover{
  color: white;
}

/*--------------------PAGES--------------------*/
.portfolio-title{
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  padding-top: 30px;
}

.portfolio-text{
  text-align: center;
  padding-bottom:30px;
}

.card{
  text-align: center;
}

.card-title{
  font-weight: 700;
}

.card:hover{
  background-color: #efefef;
  box-shadow:0 8px 20px rgba (0, 0, 0, 0.2) !important;
  transform:translateY(-4px)
}

.btn-primary:hover{
  filter:opacity(85%)
}

.card svg{
  width: 100px;
  height: 100px;
  display: block;
  margin: 20px auto;
  color: rgb(38, 40, 43);

}