@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');


/*--------------------HERO--------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.header-hero {
  width: 100%;
  height: 80vh;
  position: relative;
}

.image-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-infos{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #efefef;
  text-align: center;
  font-weight: 600;
}

.hero-text h1{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.btn-warning:hover{
  filter:brightness(85%);
}

/*--------------------NAVBAR--------------------*/

.navbar-nav {
    text-transform: uppercase;
}

.navbar-nav .nav-link:hover{
  text-decoration: underline;
}

.navbar-nav .nav-link.active{
  font-weight: 600;
  text-decoration: underline;
}