@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

/*--------------------HERO--------------------*/

.header-hero {
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.image-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-infos{
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  color: #efefef;
  text-align: center;
  align-items: center;
  font-weight: 600;
  gap: 1rem;
}

.hero-text h1{
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  margin: 0;
}

.btn-warning{
  align-self: center;
}

.btn-warning:hover{
  filter:brightness(85%);
  align-items: center;
}

.custom-modal .modal-content{
  background-color: rgb(38, 40, 43);
  color: white;
}

.custom-modal .modal-content a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size:x-large;
}

/*--------------------NAVBAR--------------------*/

.navbar-nav {
    text-transform: uppercase;
}

.navbar-nav .nav-link:hover{
  text-decoration: underline;
}

.navbar-nav .nav-link.active{
  font-weight: 600;
  text-decoration: underline;
}

/*--------------------FOOTER--------------------*/
footer{
  background-color: rgb(38, 40, 43);
}

.footer-titl{
  color: #efefef;
  font-size:large;
  margin: 1rem 0 1.5rem 0;
}

.InfosContact-component{
  color:#efefef;
  font-size: small;
}

.footer-menu{
  list-style: none;
  padding: 0;
  margin :0;
  display: flex;
  flex-direction: column;
  font-size:small;
}

.footer-menu .nav-link{
  color: #efefef;
  text-decoration: none;
  font-weight: 300;
  text-transform: none;
}

.footer-menu .nav-link:hover{
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.footer-menu .nav-link.active{
  color: white !important;
  text-decoration: none;
  font-weight: 600 !important;
}

.bi{
  color: gray;
  margin: 0.5rem;

}

.bi:hover{
  color: white;
}

/*--------------------BANNER--------------------*/
.banner{
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}

/*--------------------PAGES--------------------*/
.portfolio-title{
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  padding-top: 30px;
}

.portfolio-text{
  text-align: center;
  padding-bottom:30px;
}

.card{
  text-align: center;
}

.card-title{
  font-weight: 600;
}

.card:hover{
  background-color: #efefef;
  box-shadow:0 8px 20px rgba (0, 0, 0, 0.2) !important;
  transform:translateY(-4px)
}

.btn-primary:hover{
  filter:opacity(85%)
}

.card svg{
  width: 100px;
  height: 100px;
  display: block;
  margin: 20px auto;
  color: rgb(38, 40, 43);
}

.accordion{
    padding-top: 30px;
  }

.contact-form button{
  margin-top: 2rem
}

.form-control{
  margin-bottom: 1.5rem;
}

.form-label{
  font-weight:600;
}

.info-contact .content-page{
  padding: 0;
  margin: 0;
}
